## Assignment No.4

### 1. What exactly is [ ]?

Ans:
    It is an empty list

### 2. In a list of values stored in a variable called spam, how would you assign the value "hello"as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Ans:
    spam = [2,4,6,8,10]
    
    To assign "hello" as third value we have to do following operation:
    spam[2] = "hello"

In [1]:
spam = [2,4,6,8,10]

In [2]:
spam[2] = "hello"

In [3]:
spam

[2, 4, 'hello', 8, 10]

### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

### 3. What is the value of spam[int(int(3*2) / 11)]?

In [5]:
spam = ['a','b','c','d']

In [6]:
(int(3*2) / 11)

0.5454545454545454

In [7]:
int(int(3*2) / 11)

0

Ans:
    The value of spam[int(int(3*2) / 11)] is 'a'

### 4. What is the value of spam[-1]?

Ans:
    The value of spam[-1] is "d"

### 5. What is the value of spam[:2]?

Ans:
    The value of spam[:2] is ['a', 'b']

### Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

### 6. What is the value of bacon.index('cat')?

In [11]:
bacon =  [3.14, 'cat', 11, 'cat', True]

Ans:
    The value of bacon.index('cat') is 1

### 7. How does bacon.append(99) change the look of the list value in bacon?

Ans:
    bacon.append(99) will add element 99 at the end of list & resultant list looks like:
    [3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?

Ans:
    The bacon.remove('cat') removes the first appearance of 'cat' from list & the resultant list looks like:
    [3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

Ans:
    For list concatenation '+' operator is used. Consider an example as below:

In [24]:
l = [1,2]
l1 = [2,3]
l2 = l+l1

In [25]:
l2

[1, 2, 2, 3]

For list replication '*' operator is used. consider following example:

In [29]:
l = [1,2]
l3 = l*2

In [30]:
l3

[1, 2, 1, 2]

### 10. What is difference between the list methods append() and insert()?

Ans:
    The append() method adds the elements at last in list, whereas by using insert method we can add the elements
    at desired index

### 11. What are the two methods for removing items from a list?

Ans:
Two methods for removing an item from list are:
    1. remove() 2. pop()

### 12. Describe how list values and string values are identical.

In [37]:
Both list values and string values uses indexing i.e. we can access the values in list and string by using indexing.

### 13. What&#39;s the difference between tuples and lists?

List:
    1.List elements are enclosed within [].
    2. List is mutable
Tuple:
    1. Tuple elements are enclosed in ().
    2. Tuple is immutable

### 14. How do you type a tuple value that only contains the integer 42?

In [45]:
Ans:
    t=(42,)

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [ ]:
Ans:
    by using typing casting we can get list values in tuple form or tuple values in list form. Consider following examples.

In [47]:
l = [12,24,45,78]
t= tuple(l)

In [48]:
t

(12, 24, 45, 78)

In [51]:
t1 = (100,200,300,400,500)

In [52]:
l1 = list(t1)

In [53]:
l1

[100, 200, 300, 400, 500]

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

Ans:
    They contain references to the list values.

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans:
    copy.copy(x): Performs shallow copy
    copy.deepcopy(x): Performs deep copy
    
    The difference between shallow and deep copying is only relevant to compound object. 
    
    consider following example:

In [59]:
import copy
a = [1,2,3,[23,34,56]]
shallow = copy.copy(a)
deep = copy.deepcopy(a)
print(shallow)
print(deep)

[1, 2, 3, [23, 34, 56]]
[1, 2, 3, [23, 34, 56]]

now, let's try to change any element of nested list.

In [60]:
a[3].append(1000)
print(a)
print(shallow)
print(deep)

[1, 2, 3, [23, 34, 56, 1000]]
[1, 2, 3, [23, 34, 56, 1000]]
[1, 2, 3, [23, 34, 56]]

So,when we modify nested object, changes will get reflected in shallow copy but not in deep copy.